<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='musique.css') }}">
    <title>{{ artiste.nom }}</title>
</head>
<body>
    <div class="bar">
        <button onclick="location.href='/';" >Accueil</button>
        <button onclick="location.href='{{ url_for('musique')}}'"  >Ma bibliothèque</button>
        <button onclick="location.href='{{ url_for('recherche')}}'" >Recherche</button>
        <button onclick="location.href='{{ url_for('utili')}}'"  >Page des utilisateurs</button>
        {% if session.get('user_id') %}
        <button onclick= "location.href= '{{ url_for('profil', idU=session['user_id']) }}'">Votre profil</button>
        <button onclick="location.href='{{ url_for('suggestion')}}'"  >Suggestion</button>
        <button onclick="location.href='logout';" >Se déconnecter</button>
        {% else %}
            <button onclick="location.href='connexion';" >Connexion</button>
            <button onclick="location.href='inscription';" >Inscription</button>
        {% endif %}  
        <button id="toggle-theme" >Changer le thème</button>

    </div> 
    <div class="main-container">
        <div class="left-container">
        <h1>Informations sur l'artiste</h1>
        <p> Nom: {{ artiste.nom }}</p>
        <p> Prénom: {{ artiste.prenom }}</p>
        <p> Nationalité: {{ artiste.nationalite }}</p>
        <p> Date de naissance: {{ artiste.naissance }}</p>
        {% if artiste.mort %}
            <p> Date de décès: {{ artiste.mort }}</p>
        {% endif %}
    
        <h2>Musiques crées par l'artiste</h2>
        {% for musique in musiques %}
            <button onclick="location.href='{{ url_for('musique_info', idM=musique.idm) }}'" class="action-button">
                {{ musique.titre }}({{ musique.duree }})
            </button>
        {% endfor %}
            
        <h2>Groupe(s) : </h2>
        {% for groupe in groupes %}
        <button onclick="location.href='{{ url_for('groupe', idg=groupe.idg) }}'" class="action-button">
            {{ groupe.groupe_nom }}
        </button>
            <li>Arrivé : {{ groupe.arriver }}</li> 
            {% if groupe.depart %}
                <li>Départ : {{ groupe.depart }}</li> 
            {% endif %}
            <li>Genre : {{ groupe.genre }}</li> 
            <li>Rôle : {{ groupe.role }}</li> 
        {% endfor %}
        <form action="{{ url_for('suivre', ida=artiste.id) }}" method="POST" class="action-button">
            <button type="submit">Suivre cet artiste</button>
        </form>
        
    </div></div>

    
    <script>
        const toggleThemeButton = document.getElementById('toggle-theme');
        let isDarkMode = true;

        toggleThemeButton.addEventListener('click', () => {
            document.body.classList.toggle('light-mode');
            isDarkMode = !isDarkMode;
            toggleThemeButton.textContent = isDarkMode ? 'Changer le thème' : 'Revenir au thème sombre';
        });
    </script>
</body>
</html>
